<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://unpkg.com/petite-vue" defer></script>

    <script src="js/cadastroUsuario.js" defer></script>

    <title>IGYM - Cadastro de Usuário</title>

    <link rel="stylesheet" href="style.css">
</head>

<body class="page-login">
    <div class="cadastro-container">

        <div class="form-containerCadastro" v-scope="formCadastroUsuario">

            <h1 class="titulo">Cadastre-se no IGYM</h1>

            <form @submit.prevent="cadastrarUsuario" v-scope="formCadastroUsuario">

                <div class="input-group">
                    <label for="nome">Nome Completo:</label>
                    <input type="text" id="nome" v-model="formData.nome" placeholder="Seu nome completo" required>
                </div>

                <div class="input-group">
                    <label for="telefone">Telefone:</label>
                    <input type="text" id="telefone" v-model="formData.telefone" placeholder="(XX) XXXXX-XXXX" required>
                </div>

                <div class="input-group">
                    <label for="cpf">CPF:</label>
                    <input type="text" id="cpf" v-model="formData.cpf" placeholder="000.000.000-00" required>
                </div>

                <div class="input-group">
                    <label for="dataNascimento">Data de nascimento:</label>
                    <input type="date" id="dataNascimento" v-model="formData.dataNascimento" placeholder="00/00/0000"
                        required>
                </div>

                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" v-model="formData.email" placeholder="seu@email.com" required>
                </div>

                <div class="input-group">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" v-model="formData.senha" placeholder="Crie uma senha" required>
                </div>

                <div class="input-group">
                    <label for="confirmarSenha">Confirmar Senha:</label>
                    <input type="password" id="confirmarSenha" v-model="formData.confirmarSenha"
                        placeholder="Confirme sua senha" required>
                </div>

                <div class="input-group">
                    <label for="sexo">Sexo:</label>
                    <select id="sexo" v-model="formData.sexo" required>
                        <option disabled value="">Selecione</option>
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>
                    </select>
                </div>

                <button type="submit" class="login-button">Cadastrar</button>

                <p class="signup-link"><a href="login.html">Tela de login</a>
                </p>


            </form>


        </div>
    </div>
</body>

</html>
